[Desktop Entry]
Type=Application
Name=Retro Hub Launcher
Comment=Hub multiconsole per RetroArch
Exec=python3 /home/jonathan/launcher_games/launcher.py
Path=/home/jonathan/launcher_games/
Icon=applications-games
Terminal=false
Categories=Game;Emulator;
